/*




nav a:hover{
    color: rgba(199, 198, 198, 0.972);
}

nav {
    top: 0;
    background-color: #333;
    height: 50px;
    overflow: hidden;
}

#logo{
    color: #fff;
    font-size: 1.3em;
    float: left;
}

#logo:hover{
    text-decoration: none;
}

*/
nav a:hover:not(.navbar-brand){
    text-decoration: none;
    color: #111;
}

nav a{
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    padding: 10px 20px;

}

#notification_menu{
    left: -276px;
    width: 340px;
}
.wrapper{
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
}

#main-container > div {
    float: none;
}

@media(min-width: 800px){

    #asset-list-container{
        width: 56%;
        height: 100%;
    }

    #main-container > div {
        float: left;
    }

    table {
        font-size: 1em;
    }

    .wrapper{
        max-width: 1300px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #asset-details-container {
        max-width: 40%;
        height: 500px;
    }

    #order-container{
        padding: 0 18px;
        width: 100%;
    }
}

#order-container{
    overflow: auto;
    min-height: 250px;
    padding: 0 10px;
    width: 100%;
    border-bottom: 1px solid #333;
}

#asset-details-container {
    padding-top:  10px 0 0 0;
    width: 100%;
    height: auto;
}

table {
        font-size: 0.9rem;
    }

#asset-list-container{
    padding: 10px;
    max-height: 85vh;
    border-right: 1px solid #333;
    overflow-y: scroll;
    float: left;
}

#asset-list-container tbody{
   cursor: pointer;
}

.table thead th {
    vertical-align: middle;
}
/*

#asset-list{
    overflow: scroll;
    position: relative;
    height: 90%;
}

*/


.vertical-center{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.normal-title{
    font-size: 140%;
    font-family: 'Bellota-BoldItalic', san-serif;
    
}

.title-box {
    width: 100%;
    height: 50px;
}

.name-title{
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 18px;
}

.last-trade-price-title{
    float: right;
    width: 30%;
    text-align: right;
}

.current-bid-title{
    float: right;
    width: 30%;
    text-align: right;
}

.asset-name{
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 18px;
    height: min-content;
}

.asset-last-trade-price{
    float: right;
    width: 30%;
    text-align: right;
    padding-right: 9px;
}

.asset-current-bid{
    float: right;
    width: 30%;
    text-align: right;
    padding-right: 9px;
}

#trade-container > div, #order-container > div {
    float: left;
    padding: 9px;
}

#trade-container {
    top: 50%;
    display: flex;
    width: 100%;
    padding: 0px 18px;
    border-bottom: 1px solid #333;
}

#buy-box > input, #sell-box input{
    margin-bottom: 9px;
}

#buy-box > button, #sell-box button{
    float: right;
}

#sell-box, #sell-orders-box{
    border-right: 1px solid #333;
}
/*

#sell-orders-box, #buy-orders-box{
    width: 50%;
}

#profile-details-container .form-group{
    display: flex;
}

#profile-details-container label{
    white-space: nowrap;
    margin-right: 15px;
}


#edit-profile-button{
    position: absolute;
    top: 80px;
    right: 15px;
}

#change-password-button{
    position: absolute;
    top: 130px;
    right: 15px;
}

*/

#notice-box{
    z-index: 10;
    position: fixed;
    bottom: 0px;
    left: 40%;
}

.order-list-item{
    display: inline-flex;
}

.sub-container{
    width: 100%
}

.hide{
    display:none;
}

#my-balance{
    overflow-y: scroll;
    height: 72%;
}

#my-orders{
    max-height: 30%;
    overflow-y: scroll;
}

.loader {
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid rgba(62, 50, 185, 0.74);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite ;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }