

nav a:hover:not(.navbar-brand){
    text-decoration: none;
    color: #111;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;

}

#notification_menu{
    left: -276px;
    width: 340px;
}

.wrapper{
        margin-top: 18px;
        margin-left: auto;
        margin-right: auto;
    }



#main-container > div {
    float: none;
}

body{
    font-size: 1.5rem;
}


@media(min-width: 640px){


    .wrapper{
        max-width: 1300px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }


    #order-container{
        padding: 0 18px;
        width: 100%;
    }

    .hr_change_img {
        width: 35px;
    }


}

#order-container{
    overflow: auto;
    min-height: 250px;
    padding: 0 10px;
    width: 100%;
    border-bottom: 1px solid #333;
}

#asset-details-container {
    padding-top:  10px 0 0 0;
    width: 100%;
    height: auto;
}

#asset-list-container{
    padding: 10px;
    border-right: 1px solid #333;
    overflow-y: scroll;
    float: left;
}

#asset-list-container tbody{
   cursor: pointer;
}

.hr_change_img {
    width: 25px;
}

.table thead th {
    vertical-align: middle;
}
/*

#asset-list{
    overflow: scroll;
    position: relative;
    height: 90%;
}

*/


.vertical-center{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.normal-title{
    font-size: 140%;
    font-family: 'Bellota-BoldItalic', san-serif;
    
}

.title-box {
    width: 100%;
    height: 50px;
}

.name-title{
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 18px;
}

.last-trade-price-title{
    float: right;
    width: 30%;
    text-align: right;
}

.current-bid-title{
    float: right;
    width: 30%;
    text-align: right;
}

.asset-name{
    float: left;
    min-height: 38px;

    }

/*


.asset-name{
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 18px;
    height: min-content;
}

*/

.asset-last-trade-price{
    float: right;
    width: 30%;
    text-align: right;
    padding-right: 9px;
}

.asset-current-bid{
    float: right;
    width: 30%;
    text-align: right;
    padding-right: 9px;
}

#trade-container > div {
    float: left;
    padding: 10px;
}

#trade-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #333;
}

#order-container > div{
    float: left;
    padding: 0px;
}

#buy-box > input, #sell-box input{
    margin-bottom: 9px;
}

#buy-box > button, #sell-box button{
    float: right;
}

#sell-box, #sell-orders-box{
    border-right: 1px solid #333;
}

/*

#sell-orders-box, #buy-orders-box{
    width: 50%;
}

#profile-details-container .form-group{
    display: flex;
}

#profile-details-container label{
    white-space: nowrap;
    margin-right: 15px;
}


#edit-profile-button{
    position: absolute;
    top: 80px;
    right: 15px;
}

#change-password-button{
    position: absolute;
    top: 130px;
    right: 15px;
}

*/

#notice-box{
    z-index: 10;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

}

.sub-container{
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

.hide{
    display:none;
}

#my-balance{
    overflow-y: scroll;
    height: 72%;
}

#profile-inputs  label {
    padding-left: 0;
    float: : left;
}

.edit-profile{
    padding: 0;
}

#balance-container{
    padding-left: : 4px;
    padding-right: 4px; 
}

#my-orders{
    max-height: 30%;
    overflow-y: scroll;
}

.loader {
    position: relative;
    left: 50%;
    top: 48%;
    transform: translateX(-50%);
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid rgba(62, 50, 185, 0.74);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite ;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }